h1,h2,h3,h4,h5,h6{
  font-family: 'Cabin Sketch', cursive;
}

ul,li,p,a,cite{
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
}
p{
  font-size: 18px;
}

html {
font-size: 1rem;
}




.team{
  padding:75px 0;
}
h6.description{
font-weight: bold;
letter-spacing: 2px;
color: #999;
border-bottom: 1px solid rgba(0, 0, 0,0.1);
padding-bottom: 5px;
}
.profile{
margin-top: 25px;
}
.profile h1{
font-weight: normal;
font-size: 20px;
margin:10px 0 0 0;
}
.profile h2{
font-size: 14px;
font-weight: lighter;
margin-top: 5px;
}
.profile .img-box{
opacity: 1;
display: block;
position: relative;
}
.profile .img-box:after{
content:"";
opacity: 0;
background-color: rgba(0, 0, 0, 0.75);
position: absolute;
right: 0;
left: 0;
top: 0;
bottom: 0;
}
.img-box ul{
position: absolute;
z-index: 2;
bottom: 50px;
text-align: center;
width: 100%;
padding-left: 0px;
height: 0px;
margin:0px;
opacity: 0;
}
.profile .img-box:after, .img-box ul, .img-box ul li{
-webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.img-box ul i{
  font-size: 18px;
  margin-bottom: 20px; 
  letter-spacing: 10px;
}
.img-box ul li{
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #88C425;
  margin: 2px;
  padding: -3px;
  padding-left: 5px;
  display: inline-block;
}
.img-box a{
color:#fff;
}
.img-box:hover:after{
opacity: 1;
}
.img-box:hover ul{
opacity: 1;
}
.img-box ul a{
-webkit-transition: all 0.3s ease-in-out 0s;
-moz-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
}
.img-box a:hover li{
border-color: #fff;
color: #88C425;
}
a{
  color:#88C425;
}
a:hover{
  text-decoration:none;
  color:#519548;
}
i.red{
  color:#BC0213;
}


.carousel-inner img {
    width: 100%;
    height: 85vh;
}


/*  Welcome section css  */


.site-title {
  color: #000;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  margin-bottom: 1.5em;
}
.site-title:before {
  content: "";
  background: $accent-color;
  width: 6%;
  height: 2px;
  position: absolute;
  right: 63%;
  top: 51%;
}
.site-title:after {
  content: "";
  background: $accent-color;
  width: 6%;
  height: 2px;
  position: absolute;
  right: 32%;
  top: 51%;
}

.welcome-grid {
  text-align: left;
}
.welcome-grid h5 {
  font-size: 2.5em;
  color: #000;
  text-transform: capitalize;
  line-height: 1.3;
  letter-spacing: 1px;
}
.welcome-grid p {
  font-size: 1.2em;
  color: #545151;
  margin: 1em 0 1.5em;
}
.welcome-grid ul li {
  color: #777;
  font-size: 1em;
  line-height: 2;
  margin-top: .5em;
  display: inherit;
  letter-spacing: 1px;
}


.welcome-grid ul li {
  list-style: none;
}
.welcome-img {
  padding-top: 1em;
}
.welcome-img1 {
  padding: 0 0.5em 0 0;
}
.welcome-img2 {
  padding: 0 0 0 0.5em;
}





.about-inner-column h3 {
  font-size: 2.5em;
  color: $accent-color ;
  font-family: 'Marvel-Regular';
}
.about-inner-column p {
  font-size: 1.1em;
  color: #333333;
  line-height: 1.8em;
  margin: 1em 0 0;
}
.about-inner-column ul li a {
  color: #333333;
  font-size: 1.1em;
  padding-left: 2em;
}
.about-right img {
  width: 100%;
}


/*  Gallery   */


.gallery-img-row{
    margin: 0;
    padding: 0;


      img{
        width: 100%;
        height: 200px;
      }


}







/*  Team css  */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip0056 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 380px;
  max-width: 480px;
  width: 100%;
  background: #ffffff;
  color: #000000;
}
figure.snip0056 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0056 > img {
  width: 50%;
  border-radius: 50%;
  border: 4px solid #ffffff;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  position: relative;
  float: right;
  right: -15%;
  z-index: 1;
}
figure.snip0056 figcaption {
  padding: 20px 30px 20px 20px;
  position: absolute;
  left: 0;
  width: 50%;
}
figure.snip0056 figcaption h2,
figure.snip0056 figcaption p {
  margin: 0;
  text-align: left;
  padding: 10px 0;
  width: 100%;
}
figure.snip0056 figcaption h2 {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.snip0056 figcaption h2 span {
  font-weight: 800;
}
figure.snip0056 figcaption p {
  font-size: 0.9em;
  opacity: 0.8;
}
figure.snip0056 figcaption .icons {
  width: 100%;
  text-align: left;
}
figure.snip0056 figcaption .icons i {
  font-size: 26px;
  padding: 5px;
  top: 50%;
  color: #000000;
}
figure.snip0056 figcaption a {
  opacity: 0.3;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0056 figcaption a:hover {
  opacity: 0.8;
}
figure.snip0056 .position {
  width: 100%;
  text-align: left;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1;
  font-style: italic;
  color: #ffffff;
  background: #000000;
  clear: both;
}
figure.snip0056.blue .position {
  background: #20638f;
}
figure.snip0056.red .position {
  background: #962d22;
}
figure.snip0056.yellow .position {
  background: #bf6516;
}
figure.snip0056:hover > img,
figure.snip0056.hover > img {
  right: -12%;
}





/* Features css  */



.snip1248 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  color: #bdbdbd;
  margin: 70px 25px;
  max-width: 280px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1248 h1,
.snip1248 h5 {
  margin: 0;
  text-transform: uppercase;
}
.snip1248 h1 {
  font-family: 'Holtwood One SC', Arial, sans-serif;
  font-size: 2.8em;
  line-height: 1.3em;
  position: relative;
  background-color: #bdbdbd;
  color: #212121;
  text-align: center;
}
.snip1248 h1 span {
  position: relative;
  z-index: 1;
}
.snip1248 h1::before,
.snip1248 h1::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: inherit;
  transform: skewX(-15deg);
  z-index: 0;
}
.snip1248 h1::after {
  transform: skewX(15deg);
}
.snip1248 h5 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  padding: 10px;
}
.snip1248 i {
  position: relative;
  font-size: 6em;
  height: 50px;
  width: 100px;
  display: inline-block;
  background-color: #bdbdbd;
  color: #212121;
}
.snip1248 i:before {
  background-color: #bdbdbd;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  border-radius: 50%;
}


#content {
  max-width: 400px;
  position: relative;
  margin: 50px auto;
  min-height: 200px;
  z-index: 100;
  padding: 30px;
  border: 1px solid #383838;
  /* My stipped background */
  background: #D1D1D1; /* Old browsers */
  background: -moz-repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px); /* FF3.6+ */
  background: -webkit-repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px); /* FF3.6+ */
  background: -o-repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px); /* FF3.6+ */
  background: repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px); /* FF3.6+ */
  /*border-radius*/
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  /*box-shadow*/
  -webkit-box-shadow: 0px 1px 6px #3F3F3F;
  -moz-box-shadow: 0px 1px 6px #3F3F3F;
  box-shadow: 0px 1px 6px #3F3F3F;
}

/* * my "fake" background that will hover the stripes *
 ================================================== */
#content form {
  z-index: 101;
}

#content:after {
  background: #F9F9F9;
  margin: 10px;
  position: absolute;
  content : " ";
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  border: 1px #E5E5E5 solid;
  /*border-radius*/
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}



/* * labels*
 ================================================== */

/* * adding our icon font !!
 ================================================== */

.iconic:before {
  font-size: 25px;
  font-family: "IconicStroke";
}

.iconic.link:before { content: '/' }

.iconic.quote-alt:before { content: "'" }

.iconic.comment:before { content: "q" }

.iconic.user:before { content: "u" }

.iconic.mail-alt:before { content: "M" }

label {
  color: #7F7E7E;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

label:hover { color: #191919 }

label:before {
  color: #C1BFBD;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

label:hover:before {
  color: #969696;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

p { margin-bottom: 20px }

.indication {
  color: #878787;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  padding-right: 10px;
}

.required { color: #E5224C }

/* * Styling the send button *
 ================================================== */

input[type=submit] {
  cursor: pointer;
  background: none;
  border: none;
  font-family: 'Alice',serif;
  color: #767676;
  font-size: 18px;
  padding: 10px 4px;
  border: 1px solid #E0E0E0;
  text-shadow: 0px 1px  1px #E8E8E8;
  background: rgb(247,247,247);
  background: -moz-linear-gradient(top,  rgba(247,247,247,1) 1%, rgba(242,242,242,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(247,247,247,1)), color-stop(100%,rgba(242,242,242,1)));
  background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
  background: -o-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
  background: -ms-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
  background: linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
  /*border-radius*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*box-shadow*/
  -webkit-box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #EAEAEA;
  -moz-box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #EAEAEA;
  box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #EAEAEA;
  /*transition*/
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

input[type=submit]:hover {
  color: #686868;
  border-color: #CECECE;
  background: rgb(244,244,244);
  background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(242,242,242,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(242,242,242,1)));
  background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
  background: -o-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
  background: -ms-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
  background: linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
  /*box-shadow*/
  -webkit-box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
  -moz-box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
  box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
}

input[type=submit]:active, input[type=submit]:focus {
  position: relative;
  top: 1px;
  color: #515151;
  background: rgb(234,234,234);
  background: -moz-linear-gradient(top,  rgba(234,234,234,1) 0%, rgba(242,242,242,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(100%,rgba(242,242,242,1)));
  background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
  background: -o-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
  background: -ms-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
  background: linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
  /*box-shadow*/
  -webkit-box-shadow: 0px -1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
  -moz-box-shadow: 0px -1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
  box-shadow: 0px -1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
}

#postcard{
  z-index: 102;
  margin: 50px auto;
  position: absolute;
  transform: scale(1.2) rotate(30deg);
  left: 650px;
}

.move {
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-name: anim;
}

@keyframes anim
{
  from {left: 650px; transform: scale(1.2) rotate(30deg); z-index:102;  }
  50%  {left: 1150px; top: -200px; transform: scale(0.8) rotate(45deg); z-index:102; }
  75% {left: 1000px; top: -200px; transform: scale(0.8) rotate(45deg); z-index:1;}
  to {left: 650px; transform: scale(1)  rotate(20deg); z-index:1;}
}

@keyframes animTabletHor
{
  from {left: 450px; transform: scale(1.2) rotate(30deg); z-index:102;  }
  50%  {left: 950px; top: -200px; transform: scale(0.8) rotate(45deg); z-index:102; }
  75% {left: 700px; top: -200px; transform: scale(0.8) rotate(45deg); z-index:1;}
  to {left: 450px; transform: scale(1)  rotate(20deg); z-index:1;}
}

@keyframes animTablet
{
  from {left: 250px; transform: scale(1.2) rotate(28deg); z-index:102;  }
  50%  {left: 800px; top: -200px; transform: scale(0.8) rotate(45deg); z-index:102; }
  75% {left: 600px; top: -200px; transform: scale(0.8) rotate(45deg); z-index:1;}
  to {left: 300px; transform: scale(1)  rotate(20deg); z-index:1;}
}

@keyframes animPhone
{
  from {transform: scale(1.2) rotate(28deg);}
  25% {transform: scale(1) rotate(0deg);}
  50% { transform: scale(0.8) rotate(0deg); top: -550px; ; z-index:102;}
  75% { transform: scale(0.9) rotate(0deg); top: -200px; z-index:1;}
  to { transform: scale(1) rotate(0deg); top: -100px; z-index:1;}
}

@media (min-width: 981px) and (max-width : 1280px) {
  #postcard{
      left: 450px;
  }
  
  .move {
      animation-name: animTabletHor;
  }
}

@media (min-width: 768px) and (max-width : 980px) {
  #postcard{
      transform: scale(1.2) rotate(28deg);
      left: 250px;
  }
  
  .move {
      animation-name: animTablet;
  }
}

@media (max-width: 767px) {
  #postcard{
      left: auto;
      top: 0px;
  }
  .move {
      animation-name: animPhone;
  }
}











 /* galler */



.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
