.special-section {
    padding: 6em 0 5em;
}
.special-info-column h3 {
    color: #000;
    font-size: 40px;
    font-weight: 300;
    margin: 0;
}
.special-info-column h5 {
    color: #969696;
    font-size: 14px;
    margin: 1em 0;
    line-height: 1.8em;
}
.special-info-column p {
    color: #333333;
    font-size: 14px;
    margin: 1em 0 0 0;
    line-height: 1.8em;
}
.more-button a {
    background: #f39c12;
    padding: 10px 16px;
    border: none;
    border-radius: 0;
    margin-top:20px;
    margin-bottom:20px;
}


.special-inner-column{
     padding: 0px 0px 17px;
}
.icon {
    color : #f39c12;
    padding:0px;
    font-size:40px;
}
.special-inner-column h5 {
    color: #000;
    font-size: 17px;
    font-weight: 600;
    margin: 1.5em 0 0 0;
    padding: 0px 0px 10px;
}

.special-inner-column p {
    color: #333333;
    font-size: 14px;
    margin: 0;
    line-height: 1.8em;
    font-weight: 400;
}


.snip1265 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    width: 100%;
    max-width: 1000px;
    margin: 50px 100px 10px;
  }
  .snip1265 .plan {
    margin: 0;
    width: 25%;
    position: relative;
    float: left;
    background-color: #262626;
    border: 1px solid #1e1e1e;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }
  .snip1265 .plan:hover,
  .snip1265 .plan.hover {
    background-color: #1c1c1c;
  }
  .snip1265 .plan:hover i,
  .snip1265 .plan.hover i {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  .snip1265 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .snip1265 header {
    position: relative;
    padding: 20px 10px;
  }
  .snip1265 header i {
    font-size: 56px;
    margin: 0 15px;
    color: #f39c12;
    display: inline-block;
    float: left;
  }
  .snip1265 .plan-title {
    top: 0;
    font-weight: 800;
    margin: 10px 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .snip1265 .plan-cost {
    margin: 0;
    opacity: 0.2;
  }
  .snip1265 .plan-price {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 800;
    font-size: 1.3em;
  }
  .snip1265 .plan-type {
    opacity: 0.8;
    font-size: 0.7em;
    text-transform: uppercase;
  }
  .snip1265 .plan-features {
    padding: 0;
    margin: 0 0 40px;
    text-align: center;
    list-style: outside none none;
    font-size: 0.8em;
    text-align: left;
  }
  .snip1265 .plan-features li {
    padding: 5px 5%;
    font-weight: 500;
    opacity: 0.5;
    border-left: 5px solid #f39c12;
    margin: 2px 20px;
  }
  .snip1265 .plan-select {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .snip1265 .plan-select a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    margin: 20px;
    border-radius: 40px;
    font-size: 0.75em;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    background-color: #f39c12;
  }
  .snip1265 .plan-select a:hover {
    background-color: #262626;
  }
  .snip1265 .featured {
    margin-top: -10px;
    background-color: #262626;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  .snip1265 .featured .plan-select a {
    margin: 30px 20px;
  }
  @media only screen and (max-width: 767px) {
    .snip1265 .plan {
      width: 50%;
    }
    .snip1265 .plan-title,
    .snip1265 .plan-select a {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    .snip1265 .plan-select a,
    .snip1265 .featured .plan-select a {
      margin: 20px;
    }
    .snip1265 .featured {
      margin-top: 0;
    }
  }
  @media only screen and (max-width: 440px) {
    .snip1265 .plan {
      width: 100%;
    }
  }
