
#nav-home{
    color: #FF0000;
}
#nav-about{
    color: #210092;
}
#nav-addmission{
    color: #710066;    
}
#nav-gallery{
    color: #006411;
}    
#nav-corner{
    color: #575656;
}
#nav-contact{
    color: #0086AD;
}
